@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 32px;
  --font-size-lg: 50px;
  --font-size-xl: 64px;
  --font-size-2xl: 96px;

  /* Colors */
  --color-gray-100: #ffeaea;
  --color-gray-200: #2e294e;
  --color-gray-300: #011638;
  --color-gray-400: rgba(217, 217, 217, 0.19);
  --color-gray-500: rgba(217, 217, 217, 0.24);
  --color-gray-600: rgba(217, 217, 217, 0.09);
  --color-gray-700: rgba(0, 0, 0, 0);
  --color-violet: rgba(238, 181, 255, 0.5);
  --color-white: #fff;

  /* border radiuses */
  --br-xs: 20px;
  --br-sm: 24px;
  --br-md: 38px;
  --br-lg: 54px;
  --br-xl: 76px;
}
