.wrapper {
  position: absolute;
  top: 201px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 33px 19px rgba(144, 85, 162, 0.5);
  width: 1606px;
  height: 934px;
}
.logoExIcon {
  position: absolute;
  height: 104.85%;
  width: 32.47%;
  top: 0;
  right: 68.23%;
  bottom: -4.85%;
  left: -0.69%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.logoText {
  position: absolute;
  height: 54.55%;
  width: 60.42%;
  top: 15.15%;
  left: 39.58%;
  font-size: var(--font-size-2xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  -webkit-text-stroke: 1px #fff;
}
.logo,
.startGameChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  background-color: transparent;
  width: 576px;
  height: 165px;
}
.startGameChild {
  background-color: var(--color-gray-300);
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-lg);
}
.startGame1 {
  position: absolute;
  height: 58.54%;
  width: 30.38%;
  top: 20.33%;
  left: 33.56%;
  display: inline-block;
}
.shopButtonChild,
.startGame {
  position: absolute;
  cursor: pointer;
}
.startGame {
  top: 260px;
  left: 69px;
  width: 1517.86px;
  height: 122.13px;
}
.shopButtonChild {
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 33px 19px rgba(144, 85, 162, 0.5);
}
.shop {
  position: absolute;
  height: 53.05%;
  width: 65.32%;
  top: 24.48%;
  left: 17.25%;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-violet);
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.shopButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 99.35%;
  width: 39.55%;
  top: 0;
  right: 0;
  bottom: 0.65%;
  left: 60.45%;
}
.myPage1 {
  position: absolute;
  height: 52.7%;
  width: 78.71%;
  top: 24.32%;
  left: 12.84%;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-violet);
  text-align: left;
  display: inline-block;
  -webkit-text-stroke: 1px #000;
}
.myPageButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 100%;
  width: 51.98%;
  top: 0;
  right: 48.02%;
  bottom: 0;
  left: 0;
}
.icon {
  position: absolute;
  top: 58px;
  left: 1178px;
  width: 354px;
  height: 73.48px;
}
.nft4,
.nft5 {
  background-color: var(--color-gray-400);
  position: absolute;
  border-radius: var(--br-sm);
}
.nft5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 850px;
  left: 1255px;
  width: 254px;
  height: 188px;
}
.nft4 {
  left: 974px;
}
.nft2,
.nft3,
.nft4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 850px;
  width: 254px;
  height: 188px;
}
.nft3 {
  background-color: var(--color-gray-400);
  position: absolute;
  left: 695px;
  border-radius: var(--br-sm);
}
.nft2 {
  left: 414px;
}
.accessory1,
.accessory2,
.accessory3,
.accessory4,
.nft1,
.nft2,
.wrapperNft {
  position: absolute;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-400);
}
.nft1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 850px;
  left: 133px;
  width: 254px;
  height: 188px;
}
.wrapperNft {
  top: 781px;
  left: 90px;
  width: 1442px;
  height: 326px;
}
.accessory1,
.accessory2,
.accessory3,
.accessory4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  top: 595px;
  width: 222px;
  height: 128px;
}
.accessory4 {
  left: 1231px;
}
.accessory3 {
  left: 974px;
}
.accessory2 {
  left: 721px;
}
.accessory1 {
  left: 467px;
}
.wrapperAccessory {
  position: absolute;
  top: 570px;
  left: 435px;
  background-color: var(--color-gray-500);
  width: 1057px;
  height: 178px;
}
.coin,
.container1,
.wrapperAccessory {
  border-radius: var(--br-xs);
}
.container1 {
  position: absolute;
  top: 413px;
  left: 90px;
  background-color: rgba(217, 217, 217, 0.29);
  width: 1442px;
  height: 363px;
}
.coin {
  top: 461px;
  left: 1116px;
  background-color: var(--color-gray-500);
  width: 376px;
  height: 98px;
}
.address,
.coin,
.icon1 {
  position: absolute;
}
.address {
  top: 461px;
  left: 433px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-500);
  width: 655px;
  height: 98px;
}
.icon1 {
  top: calc(50% - 162.5px);
  right: 1197px;
  border-radius: 237.5px;
  width: 295px;
  height: 314px;
  object-fit: cover;
}
.myPage {
  position: relative;
  background: linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent), 0 0;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 100%;
  height: 1209px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
