.wrapper {
  position: absolute;
  top: 221px;
  left: 32px;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 33px 19px rgba(144, 85, 162, 0.5);
  width: 1606px;
  height: 937px;
}
.logoText {
  position: absolute;
  top: 32px;
  left: 205px;
  font-size: var(--font-size-2xl);
  font-weight: 800;
  font-family: var(--font-inter);
  color: var(--color-gray-200);
  text-align: left;
  display: inline-block;
  width: 886px;
  height: 90px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  filter: blur(4px);
  -webkit-text-stroke: 1px #fff;
}
.button,
.logoExIcon {
  position: absolute;
  top: 0;
}
.logoExIcon {
  left: -4px;
  width: 187px;
  height: 173px;
  object-fit: cover;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  width: 1091px;
  height: 165px;
}
.image11Icon {
  position: absolute;
  top: 294px;
  left: 121px;
  width: 1422px;
  height: 792px;
  object-fit: cover;
}
.shopButtonChild {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gray-200);
  position: absolute;
  top: 0;
  left: calc(50% - 70px);
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 33px 19px rgba(144, 85, 162, 0.5);
  width: 140px;
  height: 73px;
}
.shop {
  position: absolute;
  top: 17.87px;
  left: calc(50% - 45.85px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-violet);
  text-align: left;
  display: inline-block;
  width: 91.45px;
  height: 38.73px;
  -webkit-text-stroke: 1px #000;
}
.myPageButtonChild,
.shopButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
  top: 0;
}
.shopButton {
  background-color: transparent;
  left: calc(50% + 37px);
  width: 140px;
  height: 73px;
}
.myPageButtonChild {
  background-color: var(--color-gray-200);
  left: calc(50% - 92px);
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25),
    0 4px 33px 19px rgba(144, 85, 162, 0.5);
  width: 184px;
  height: 73.48px;
}
.myPage {
  position: absolute;
  top: 17.87px;
  left: calc(50% - 68.38px);
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-violet);
  text-align: left;
  display: inline-block;
  width: 144.83px;
  height: 38.73px;
  -webkit-text-stroke: 1px #000;
}
.icon,
.myPageButton {
  position: absolute;
  height: 73.48px;
}
.myPageButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: calc(50% - 177px);
  width: 184px;
}
.icon {
  top: 97px;
  left: calc(50% + 443px);
  width: 354px;
}
.routeFollowingPage {
  position: relative;
  background: linear-gradient(transparent, transparent),
    linear-gradient(transparent, transparent), 0 0;
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 100%;
  height: 1209px;
}
